<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.me.dao.platform.TcategoryHasTeacherMapper">

	<!-- 通用查询映射结果 -->
	<sql id="Base_Column_List">
		id, Teacher_id AS teacherId, TeacherCategory_id AS teachercategoryId, `rank`
	</sql>

</mapper>
